script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js")
script(src="/src/socket.io.js")
script(src="/src/main.js")
link(rel='stylesheet', href='/src/style.css')

h1 data

ul
  each i in results
    div.block
      span.id= i.id
      span : 
      span.name= i.name 
      span  --- 
      a.edit(href='javascript:PopUpShow()') edit
      span   -  
      a(href='delete/' + i.id) X
      br

a(href='/') home

//- .b-container
  | Sample Text
  a(href='javascript:PopUpShow()') Show popup
#popup1.b-popup
  .b-popup-content
    form.popup-form(action='#', method='post')
      | Message:
      br
      input.popup(type='text' name='msg' value='')
      input(type='submit' value='Submit')
    //- a.popup-form(href='#') go
    //- | Text in Popup
    //- a(href='javascript:PopUpHide()') Hide popup


form#send
  input(type="text", id="message")
  button(type="submit") Отnравить
div#subscribe