doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css", crossorigin="anonymous")
    link(rel='stylesheet', href='/src/style.css')

  body 
    .container
      .modal(data-modal='trigger')
        article.modal-wrapper
          button.close
          header.modal-header
            h2 Редактировать
          form#modal-form.w-100(action='#', method='post')
            input#modal-msg.modal-msg(type='text' name='msg')
            input.action(type='submit' value='ok') 

    .container
      .my-3.w-100
        #new-post.w-100.post-input
          #new-post-temp.clickable-div 
            p.m-0.p-2.pl-3 Что у Вас нового?              
          form#new-post-add(action='/add' method='post')
            input.w-100.post-input.p-2.pl-3(type='text' name='msg' placeholder="Что у Вас нового?")
            div.border-block
            input.send.m-2.ml-3.py-1.px-2(type='submit' value='Добавить')

    .container
      table.table_price.table 
        tbody
          each i in results
            tr
              td.id= i.id
              td.name.col-10
                div= i.name
              td 
                a.edit.trigger(data-modal-trigger="trigger") edit
              td
                a.trigger(href='delete/' + i.id) X


    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', crossorigin='anonymous')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js")
    script(src="/src/socket.io.js")
    script(src="/src/main.js")