script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js")
script(src="/src/main.js")
link(rel='stylesheet', href='/src/style.css')

h1 Hello!
form(action='/add', method='post')
  | Message:
  br
  input(type='text' name='msg' value='')
  input(type='submit' value='Submit')

a(href='/data') data

